In [53]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
from datetime import datetime
from sqlalchemy import create_engine

In [18]:
df_ = pd.DataFrame(list(Hotel.objects.all().values()))

In [25]:
# Calculate C
C = df_['star_rating'].mean()

# The average rating of a hotel in Nairobi is around 3,2, on a scale of 5.

# Next, let's calculate the number of votes, m, received by a hotel in the 55th percentile.
# The pandas library makes this task extremely trivial using the .quantile() method of a pandas Series:
m = df_['star_rating'].quantile(0.55)

# we can filter the hotels that qualify for the chart, based on their vote counts:

# Filter out all qualified movies into a new DataFrame
qualified_hotels = df_.copy().loc[df_['star_rating'] >= m]

In [28]:
# Function that computes the weighted rating of each hotel
def weighted_rating(x, m=m, C=C):
    v = x['total_reviews']
    R = x['star_rating']
    # Calculation based on the formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [29]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
qualified_hotels['score'] = qualified_hotels.apply(weighted_rating, axis=1)
qualified_hotels.sort_values('score', ascending=False)

,id,created_at,updated_at,deleted,name,thumbnail_url,locality,total_reviews,star_rating,price,address_id,score
497,-M1Uzmyf0tUM9caIJEpV,2020-03-04 12:29:54.381686+00:00,2020-03-04 12:29:54.382778+00:00,False,Crowne Plaza Nairobi Airport,https://exp.cdn-hotels.com/hotels/18000000/176...,None,291,5.0,12138.0,-M1VJ0om952YqABNozVi,4.978901
469,-M1UzmyeBL4Ac1Mut_EF,2020-03-04 12:29:54.381668+00:00,2020-03-04 12:29:54.382760+00:00,False,The Sarova Stanley,https://exp.cdn-hotels.com/hotels/2000000/1400...,None,235,5.0,10418.0,-M1VJ0om952YqABNozVH,4.973947
526,-M1Uzmygo5YolXkqlzhp,2020-03-04 12:29:54.381705+00:00,2020-03-04 12:29:54.382798+00:00,False,Villa Rosa Kempinski,https://exp.cdn-hotels.com/hotels/6000000/5820...,None,169,5.0,16184.0,-M1VJ0onCpIqHYChLbsE,4.963978
476,-M1UzmyeBL4Ac1Mut_EM,2020-03-04 12:29:54.381672+00:00,2020-03-04 12:29:54.382764+00:00,False,InterContinental Nairobi,https://exp.cdn-hotels.com/hotels/1000000/2000...,None,129,5.0,10924.0,-M1VJ0om952YqABNozVO,4.953104
509,-M1Uzmyf0tUM9caIJEpg,2020-03-04 12:29:54.381694+00:00,2020-03-04 12:29:54.382786+00:00,False,Radisson Blu Hotel Nairobi Upper Hill,https://exp.cdn-hotels.com/hotels/13000000/120...,None,121,5.0,13655.0,-M1VJ0onCpIqHYChLbry,4.950091
...,...,...,...,...,...,...,...,...,...,...,...,...
450,-M1UzmyeBL4Ac1Mut_Dx,2020-03-04 12:29:54.381655+00:00,2020-03-04 12:29:54.382747+00:00,False,Tulos Apartment,https://exp.cdn-hotels.com/hotels/23000000/222...,None,0,3.5,9407.0,-M1VJ0om952YqABNozUz,3.224650
448,-M1UzmyeBL4Ac1Mut_Dv,2020-03-04 12:29:54.381654+00:00,2020-03-04 12:29:54.382746+00:00,False,Riverland Apartments,https://exp.cdn-hotels.com/hotels/40000000/394...,None,0,3.5,9407.0,-M1VJ0om952YqABNozUx,3.224650
447,-M1UzmyeBL4Ac1Mut_Du,2020-03-04 12:29:54.381653+00:00,2020-03-04 12:29:54.382745+00:00,False,Fenesi Gardens Apartments,https://exp.cdn-hotels.com/hotels/25000000/240...,None,0,3.5,9407.0,-M1VJ0om952YqABNozUw,3.224650
446,-M1UzmyeBL4Ac1Mut_Dt,2020-03-04 12:29:54.381652+00:00,2020-03-04 12:29:54.382744+00:00,False,Cozy Apartment,https://exp.cdn-hotels.com/hotels/39000000/380...,None,0,3.5,9407.0,-M1VJ0om952YqABNozUv,3.224650
571,-M1Uzmygo5YolXkqlziX,2020-03-04 12:29:54.381735+00:00,2020-03-04 12:29:54.382829+00:00,False,Ndeiya House,https://exp.cdn-hotels.com/hotels/38000000/370...,None,0,3.5,85674.0,-M1VJ0onCpIqHYChLbsw,3.224650

In [30]:
df_to_db = qualified_hotels[['id', 'score']]

In [42]:
df_to_db['deleted'] = False
df_to_db['created_at'] = ''
df_to_db['created_at'] = df_to_db['created_at'].apply(lambda *args: datetime.now())
df_to_db['updated_at'] = ''
df_to_db['updated_at'] = df_to_db['updated_at'].apply(lambda *args: datetime.now())

In [38]:
df_to_db = df_to_db.rename(columns={"hotel_id": "id"})

In [43]:
df_to_db.drop(columns=['deleted', 'created_at', 'updated_at'], inplace=True)

In [52]:
df_to_db.iloc[1:2]['id'].values[0]

'-M1UzmyWTZBqSX7UtEIV'

In [58]:
engine = create_engine("postgresql://hesbon:password@localhost:5432/hotel-recommender")
for i in range(1,len(df_to_db)+1):
    entry = df_to_db.iloc[i-1:i]
    score = entry['score'].values[0]
    id = entry['id'].values[0]
    update_sql = f"""UPDATE hotels_hotel SET score = '{score}' WHERE id = '{id}'"""
    with engine.begin() as conn:     # TRANSACTION
        conn.execute(update_sql)

In [61]:
from app.apps.hotels.helpers.recommendation import generate_score, persist_to_db

ImportError: cannot import name 'persist_to_db' from 'app.apps.hotels.helpers.recommendation' (/Users/mac/Desktop/Projects/school-project/backend/app/apps/hotels/helpers/recommendation.py)

In [60]:
generate_score()

                       id     score
32   -M1UzmyWTZBqSX7UtEIW  3.224650
33   -M1UzmyWTZBqSX7UtEIV  3.285839
67   -M1UzmyXFAB1Iri1qHOh  3.224650
93   -M1UzmyXFAB1Iri1qHP4  3.285839
94   -M1UzmyXFAB1Iri1qHP6  3.351735
..                    ...       ...
567  -M1Uzmyf0tUM9caIJEpk  3.224650
568  -M1Uzmygo5YolXkqlzho  3.224650
569  -M1Uzmygo5YolXkqlzi1  3.371503
570  -M1Uzmygo5YolXkqlziO  3.224650
571  -M1Uzmygo5YolXkqlziW  3.680738

[269 rows x 2 columns]